---
alertmanager:
  enabled: false
prometheus-pushgateway:
  enabled: false
prometheus-node-exporter:
  enabled: ${prometheus_node_exporter}
kube-state-metrics:
  metricLabelsAllowlist:
    - nodes=[nebius.com/group-name]
